{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        io.github.vadym-lopatka/ckway {:local/root "../.."}
        ;; core.async: ONLY its protocols and handler interfaces (src/ is checked by a test), so that the
        ;; channels that a user sees work with `<!!`, `alts!!` and `go`. See README.
        org.clojure/core.async {:mvn/version "1.10.874-alpha3"}
        org.jetbrains.kotlinx/kotlinx-coroutines-core-jvm {:mvn/version "1.11.0"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :jvm-opts ["-Dckway.cache.dir=target/cache"]
         :main-opts ["-m" "cognitect.test-runner"]}
  ;; the drop-in shim goes before the core.async jar: `(require 'clojure.core.async.flow)` then loads the port
  :dropin {:extra-paths ["dropin"]}
  :run {:jvm-opts ["-Dckway.cache.dir=target/cache"]
        :main-opts ["-m" "spike.coflow.demo"]}
  :kotlinc {:extra-deps {org.jetbrains.kotlin/kotlin-compiler-embeddable
                         {:mvn/version "2.4.20" :exclusions [org.jetbrains.kotlin/kotlin-reflect]}}}}}
